---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();

const links = [
    {
        url: "/",
        description: "Astro's official website",
        icon: "mdi:home",
    },
    {
        url: "https://github.com/AyrielNoriega/",
        description: "View source on GitHub",
        icon: "mdi:github",
    },
    {
        url: "https://astro.build/chat",
        description: "Astro on Discord",
        icon: "mdi:linkedin",
    },
    // {
    //     url: "https://twitter.com/astrodotbuild",
    //     description: "Astro on Twitter",
    //     icon: "twitter",
    // },
];
---

<footer>
    <div class="">
        <div>
            <ul class="icons">
                {
                    links.map((link) => (
                        <li>
                            <a
                                class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4 hover:bg-[#2196f3]"
                                href={ link.url }
                            >
                                <span class="sr-only">{ link.description }</span>
                                <Icon class="size-full" name={ link.icon } />
                            </a>
                        </li>
                    ))
                }
            </ul>
            <!-- <a href="/" aria-label="Astronomy homepage">
                <Icon name="stars-outline" class="size-8" />
            </a> -->

            <!-- <p class="text-center text-sm leading-loose md:text-left balance-text">
                Built by{" "}
                <a
                    href={siteConfig.links.twitter}
                    target="_blank"
                    rel="noreferrer"
                    class="font-medium underline underline-offset-4"
                >
                    mickasmt
                </a>
            </p> -->
        </div>
        <small class="font-medium">&copy; { year } by <a href={ siteConfig.links.github }>Ayn</a>. All Rights Reserved.</small>
    </div>
</footer>

<style>

    footer {
        margin: 4rem 0;
    }

    ul.icons {
        cursor: default;
        list-style: none;
        padding: 0;
    }

    ul.icons li {
        display: inline-block;
        padding: 0 0.5rem;
    }

    div {
        text-align: center;
    }

    small a {
        color: #375a7f;
        text-decoration: none;
    }
</style>
