---
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

const itemsMe = [
    {
        text: 'Desarrollador',
        icon: 'asdf'
    },
    {
        text: 'Writer',
        icon: 'asdf'
    },
    {
        text: 'Gamer',
        icon: 'asdf'
    },
];

const mySkills = [
    {
        icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg',
        text: 'TypeScript'
    },
    {
        icon: 'https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png',
        text: 'Bootstrap'
    },
    {
        icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg',
        text: 'CSS3'
    },
    {
        icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg',
        text: 'HTML'
    },
    {
        icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg',
        text: 'JavaScript'
    },
    {
        icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg',
        text: 'PostgreSQL'
    },
    {
        icon: '/assets/icons/php.svg',
        text: 'Php',
    },
    {
        icon : '/assets/icons/laravel.svg',
        text: 'Laravel',
    },
    {
        icon: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K',
        text: 'Reactjs',
    },
    {
        icon: '/assets/icons/jquery.svg',
        text: 'Jquery',
    },
    {
        icon: '/assets/icons/nodejs.svg',
        text: 'Nodejs',
    },
    {
        icon: '/assets/icons/mysql.svg',
        text: 'MySQL',
    },
    {
        icon: '/assets/icons/apache.svg',
        text: 'Apache',
    },
    {
        icon: '/assets/icons/linux.svg',
        text: 'Linux',
    },
    {
        icon: '/assets/icons/vite.svg',
        text: 'Vite',
    }
];
---

<MainLayout title="Home">
    <section class="space-y-6 pb-12 pt-16 lg:py-28">
        <div class="container flex max-w-[64rem] flex-col items-center gap-5 text-center">
            <!-- <a
                href="https://twitter.com/miickasmt"
                class={cn(buttonVariants({ variant: "outline", size: "sm" }))}
                target="_blank"
            >
                Follow along on <Icon name="twitter" class="ml-2 size-4" />
            </a> -->

            <h1 class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance">
                Hola, soy
                <span class="text-gradient_indigo-purple">
                    Ayriel Noriega
                </span>
            </h1>

            <p class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance">
                <!-- I&apos;m building a modern example app with Astro v4 and based on
                shadcn-ui/taxonomy. -->
                Soy desarrollor de aplicaciones web con más de 5 años de experiencia.
            </p>

            <div class="flex items-center justify-between">
                {
                    itemsMe.map(({text}) => (
                        <Badge
                            radius="sm"
                            className="capitalize text-sm mx-1"
                        >
                            { text }
                        </Badge>
                    ))
                }
            </div>
            <!-- <div class="flex justify-center space-x-2 md:space-x-4">
                <a
                    href={ siteConfig.links.linkedin }
                    target="_blank"
                    rel="noreferrer"
                    class={cn(buttonVariants({ size: "lg" }), "px-4")}
                >
                    <Icon name="mdi:linkedin" class="mr-2 size-5" />
                    LinkedIn
                </a>
                <a
                    href={ siteConfig.links.github }
                    target="_blank"
                    rel="noreferrer"
                    class={cn(buttonVariants({ variant: "outline", size: "lg" }), "px-4")}
                >
                    <Icon name="github" class="mr-2 size-5" />
                    Github
                </a>
            </div> -->
        </div>
    </section>

    <section
        id="skills"
        class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24"
    >
        <div class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center">
            <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
                Skills
            </h2>
            <!-- <p class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text">
                This project is a replication of Taxonomy using Astro v4 and shadcn/ui.
                Some features, such as authentication, subscriptions and API routes,
                have not been implemented yet.
            </p> -->
        </div>
        <div class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-4" >
            {
                mySkills.map(({text, icon}) => (
                    <div class="relative overflow-hidden rounded-lg border bg-background p-2">
                        <div class="flex h-[110px] flex-col justify-between rounded-md p-3 items-center">
                            <img
                                width="46"
                                height="46"
                                alt={ text }
                                src={ icon }
                            />


                            <div class="space-y-2">
                                <h3 class="font-bold">{ text }</h3>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </section>
    <section id="open-source" class="container py-8 md:py-12 lg:py-28">
        <div class="mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center" >
            <h3 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-3xl">
                ¿ Tienes un proyecto en mente ?
            </h3>
            <div class=" space-x-2 md:space-x-4">
                <a
                    href={ siteConfig.links.linkedin }
                    target="_blank"
                    rel="noreferrer"
                    class={cn(buttonVariants({ size: "lg" }), "px-4 hover:bg-white")}
                    title="Contáctame por LinkedIn"
                >
                    <Icon name="mdi:linkedin" class="mr-2 size-5" />
                    LinkedIn
                </a>
            </div>
        </div>
    </section>
</MainLayout>
